__pycache__/
*.py[cod]
*.egg-info/
.build/
build/
dist/
.venv/

src/matrix_sdk_python/_generated/*.dll
src/matrix_sdk_python/_generated/*.dylib
src/matrix_sdk_python/_generated/*.so
src/matrix_sdk_python/_generated/matrix_sdk.py
src/matrix_sdk_python/_generated/matrix_sdk_base.py
src/matrix_sdk_python/_generated/matrix_sdk_common.py
src/matrix_sdk_python/_generated/matrix_sdk_contentscanner.py
src/matrix_sdk_python/_generated/matrix_sdk_crypto.py
src/matrix_sdk_python/_generated/matrix_sdk_ffi.py
src/matrix_sdk_python/_generated/matrix_sdk_ui.py
docs/_generated_api
docs/_generated
docs/_build
